@keyframes move {
  from {
    transform: translate(-90px, 0%);
  }
  to {
    transform: translate(90px, 0%);
  }
}

.banner svg {
  width: 100%;
  background: linear-gradient(90deg, #6a271b 0%, #e23112 100%);
}

.banner svg > g > use {
  animation: move 30s linear infinite;
}

.banner svg > g > use:nth-child(1) {
  animation-delay: -2s;
  fill: #e23112;
}

.banner svg > g > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 17s;
  fill: #6a271b;
}

.banner svg > g > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 10s;
}
